# Created by https://www.gitignore.io/api/jekyll

### Jekyll ###
_site/
.sass-cache/
.jekyll-metadata


# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/